*{
    margin: 0;

}
.grey{
    background-color: #EEEFF1;
}
.wrapper{
    width:1100px;
    margin: 0 auto;
}
.inline{
    display: inline;
}
.inline-block{
    display: inline-block;
}
.WD{
    font-family: Revalia;
font-size: 48px;
line-height: 60px;
width: 50%;
color: #34547A;
margin:40px 0 0 0;

}

.menu{
    margin: 0 20px 0 0;
}
.frame{
    width: 50%;
    text-align: center;
    margin: 100px 0 188px 0;
}
.title{
     width:49%;
     padding:0;
     
     
    
}
.button{
   margin: 40px 0 20px 0 ;
border: 1px solid #34547A;
display:inline-block;
padding: 25px 41px;
color: white;
background-color: #34547A;


}
.text{
    margin: 20px 0 30px 0; 
    
}
.main{
margin: 0 20px 0 0;
color:#34547A;
}
.menu{
    margin: 0 20px 0 0;
}
.header{
    margin: 50px 0 60px 0;
}
.center{
    text-align: center;
    padding: 80px 0 50px 0 ;
}
.about-title{
    margin: 0 0 50px 0;
}
.about{
    
    width: 40%;
   margin: 0 auto 0 auto;
}
.blue{
    background-color:#34547A;
}
.numbers{
    margin: 100px 10px ;
    display:inline-block
}
.blue-line{
    height: 2px;
    width:50%;
    margin: 0;
    padding: 0;
}
.grey-line{
    height: 2px;
    width:30%;
    margin: 0 0 0 -4px;
    
}
.man{
    height:110%;
    width:110%;
}
.abilities{
    vertical-align: top;
    width:40%;
    
    
    
}
.man-size{
    text-align: center;
    width:40%;
    
    display: inline-block;
}
.abilities-border{
    margin: 40px 0 0 0;
}
.e5e5{
    background-color:#e5e5e5;
}
.char{
    padding: 100px 0;
}
.work-image{
    width: 90%;
    height:90%;
    padding: 30px;
}
.play{
    position:absolute;
    ;
}
.rectangle7{
    width: 470px;
height: 470px;
    margin: -2px;
    
}
.rectangle71{
    width: 470px;
height: 470px;
    margin: -2px;
    
}
.rectangles{
    text-align: center; 
}
.work{
    width:1920px;
    height:960px;
    margin: 10px auto;
    
}
.windows{
    

    display: inline-block;
}
.windows-images{
    width: 255px;
height: 120px;
}
.windows-padding{
    padding:100px 0;
}
.button2{
    margin: 80px 10px ;
 border: 1px solid #fff;
 display:inline-block;
 padding: 25px 199px 25px 50px;
 color: #5F5D5D;
 background-color: #fff;
 text-align: left;
 }
 .bigbutton{
     width: 50%;
    
    border: 1px solid #fff;
    margin: 0 auto;
    padding: 100px 50px;
    color: #5F5D5D;
    background-color: #fff;
    text-align: left;

 }
 .button-send{
    margin: 35px 0 15px 0 ;
    border: 1px solid #34547A;
    display:inline-block;
    padding: 25px 41px;
    color: white;
    background-color: #34547A;
 }
 .footer{
     color: white;
     padding:30px;
     display: inline-block;
     width: 50%;
 }
 .footer-text{
     padding: 30px 0 0 0;
 }
 .footer-img{
     width:40%;
     display: inline-block;
     text-align: right;
 }